li{
    
    overflow: hidden;
    text-overflow: clip;
    margin: 5px;
    color: rgb(9, 0, 29);
    margin-left:-35px;
    position:relative;
  
}
.feedbox{
    margin-bottom: 90px;
    margin-top:60px
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;


}
button{
position:absolute;
    top:1px;
    right:1px;
    background:#c1baba00;
    border:none;
    color:#8080806b;
    cursor:pointer;

}
.heading{
    position:fixed;
    z-index:1;
    width:100%;
    padding:10px;
    background:rgb(0, 123, 255);
    
}



li:nth-child(odd){
     background-color: #ffffff9e;
    color:black;
    border:0.1px solid lightblue;
    padding:2px
}

li:nth-child(even){
     background-color: rgba(0,123,255,.5);
     padding:2px
}

.inputbox{
    background:rgb(0, 123, 255);
}


